      <nav class="menu menu-account menu-primary">
        <header class="hat">
          <form class="f-search icon-search" action="/admin/<%= @dealership.slug %>/search" method="GET">
            <fieldset class="menu-search-wrapper">
              <input class="fs-full <%= error_class('q') %>" type="text"
                     name="q" id="q" placeholder="Search by make, model or year." />
            </fieldset>
          </form>
        </header>
        <ul class="menu-items">
          <li class="menu-item menu-item-dealership">
            <img class="dealership-icon" src="<%= @dealership.image.thumb.url %>" alt="" />
            <strong><%= @dealership.name %></strong>
          </li>
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>">Inventory</a>
          </li>
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/vehicle/add">Add Vehicle</a>
          </li>
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/vehicle/manage">Manage Vehicles</a>
          </li>
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/account">Account Settings</a>
          </li>
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/billing">Billing Information</a>
          </li>
          <li class="menu-item">
            <a href="/admin/<%=@dealership.slug %>/support">Contact &amp; Support</a>
          </li>
          <li class="menu-item">
            <a href="/signout">Sign Out</a>
          </li>
        </ul>
      </nav>
