      <nav class="menu menu-vehicle menu-secondary">
        <ul class="menu-items">
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>">View Vehicle</a>
          </li>
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/edit">Edit Vehicle</a>
          </li>
          <li class="menu-item menu-item-delete">
            <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/delete">Delete Vehicle</a>
          </li>
        </ul>
      </nav>
