      <nav class="menu menu-vehicle menu-secondary">
        <header class="hat"></header>
        <ul class="menu-items">
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>">View Vehicle</a>
          </li>
          <li class="menu-item">
            <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/edit">Edit Vehicle</a>
          </li>
          <li class="menu-item">
            <a href="http://post.craigslist.org" target="cl">Post to Craigslist</a>
            <span class="menu-item-hint">
              This will open craigslist in a new window.
              Better integration is in the works.
            </span>
          </li>
          <li class="menu-item menu-item-delete">
            <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/delete">Delete Vehicle</a>
          </li>
        </ul>
      </nav>
