<%= render_partial 'form_messages.erb' -%>
<%-
  dealer_image = posted['image']
  dealer_email = posted.fetch('email', default=@dealership.identity.email)
  dealer_addr  = posted.fetch('address', {})
-%>
        <form id="photo-0" class="f-image f-image-account" data-image-type="account"
              action="http://api2.transloadit.com/assemblies" method="POST" enctype="multipart/form-data">
          <fieldset class="fs fs-image">
            <label for="photo" class="f-image-label">
              <%- if !dealer_image.empty? -%>
              <img class="f-image-preview"
                   src="<%= dealer_image.full.url %>"
                   alt="" />
              <%- else -%>
              <img class="f-image-preview f-image-preview-empty icon-add-photo"
                   src="/img/blank.gif"
                   width="160"
                   height="160"
                   alt="Add your image" />
              <%- end -%>
              <input id="photo" class="f-image-input" type="file" value="" name="photo" />
              <input type="hidden" name="idx" value="0" />
              <input type="hidden" name="dealership_id" value="<%= @dealership.id %>" />
            </label>
          </fieldset>
          <input type="hidden" name="params" value="<%= CGI.escape_html(@transloadit_params) %>" />
          <% if @transloadit_params_signature %>
          <input type="hidden" name="signature" value="<%= @transloadit_params_signature %>" />
          <% end %>
          <button class="btn btn-full btn-positive" type="submit">Update Account Image</button>
        </form>
        <form class="account" action="/admin/<%= @dealership.slug %>/account" method="POST">
          <fieldset class="fs">
            <label for="name">Dealership Name</label>
            <input class="fs-full" type="text" name="name"
                   id="name" value="<%= posted['name'] %>" placeholder="Dealership name" />
            <%- if has_error?('slug') or (posted['slug'] != slugify(posted['name']) and !posted['name'].empty?) -%>
            <label for="name">Dealership Slug</label>
            <input class="fs-full <%= error_class('slug') %>" type="text" name="slug"
                   id="slug" value="<%= posted['slug'] %>" placeholder="Dealership handle" />
            <%- end -%>
            <label for="email">Email Address</label>
            <input class="fs-full <%= error_class('email') %>" type="email" name="email"
                   id="email" value="<%= dealer_email %>" placeholder="Your email address" />
            <p class="account-link">
              <a href="/admin/<%= @dealership.slug %>/account/password">Change Password</a>
            </p>
            <label for="phone">Phone Number</label>
            <input class="fs-full" type="text" name="phone"
                   id="phone" value="<%= @dealership.phone %>" placeholder="Phone number" />
            <input class="fs-half" type="text" name="address[line_one]"
                   id="address" value="<%= dealer_addr['line_one'] %>" placeholder="Street address" />
            <input class="fs-half" type="text" name="address[zip]"
                   id="postcode" value="<%= dealer_addr['zip'] %>" placeholder="Zip code" />
            <input type="hidden" name="image" value="<%= CGI.escape_html(dealer_image.to_json) %>" />
          </fieldset>
          <button class="btn btn-full btn-positive" type="submit">Update Account Information</button>
        </form>
        <%- if Lynr.features.fetch('ebay_connect', false) -%>
        <section class="accounts">
          <%- if @dealership.accounts.ebay.empty? -%>
          <a class="btn btn-half btn-plain" href="/auth/ebay">Connect to eBay</a>
          <%- else -%>
          <span class="btn btn-half btn-plain">Connected to eBay</span>
          <%- end -%>
        </section>
        <%- end -%>
