<%= render_partial 'form_messages.erb' -%>
      <form id="photo-0" class="account-photo"
            action="http://api2.transloadit.com/assemblies" method="POST" enctype="multipart/form-data">
        <fieldset class="fs fs-photo fs-photo-account">
          <label for="photo" class="label-photo">
            <% if !@dealership.image.empty? %>
            <img class="photo-preview"
                 src="<%= @dealership.image.url %>"
                 width="<%= @dealership.image.width %>"
                 height="<%= @dealership.image.height %>"
                 alt="" />
            <% else %>
            <img class="photo-preview"
                 src="/img/blank.gif"
                 width="160"
                 height="160"
                 alt="Add your image" />
            <% end %>
            <input id="photo" class="input-photo" type="file" value="" name="photo" />
            <input type="hidden" name="idx" value="0" />
            <input type="hidden" name="dealership_id" value="<%= @dealership.id %>" />
          </label>
        </fieldset>
        <input type="hidden" name="params" value="<%= CGI.escape_html(@transloadit_params) %>" />
        <% if @transloadit_params_signature %>
        <input type="hidden" name="signature" value="<%= @transloadit_params_signature %>" />
        <% end %>
        <button class="btn btn-full btn-create" type="submit">Update Account Image</button>
      </form>
      <form class="account" action="/admin/<%= @dealership.id.to_s %>/account" method="POST">
        <fieldset class="fs">
          <label for="name">Dealership Name</label>
          <input class="fs-top fs-full" type="text" name="name"
                 id="name" value="<%= @dealership.name %>" placeholder="Dealership Name" />
          <label for="email">Email Address</label>
          <input class="fs-mid fs-full" type="email" name="email"
                 id="email" value="<%= @dealership.identity.email %>" placeholder="Email" />
          <label for="phone">Phone Number</label>
          <input class="fs-mid fs-full" type="text" name="phone"
                 id="phone" value="<%= @dealership.phone %>" placeholder="Phone Number" />
          <input class="fs-bottom fs-thirds" type="text" name="address[line_one]"
                 id="address" value="<%= @dealership.address.line_one %>" placeholder="Street Address" />
          <input class="fs-bottom fs-third" type="text" name="address[zip]"
                 id="postcode" value="<%= @dealership.address.zip %>" placeholder="Zip Code" />
          <input type="hidden" name="image" value="<%= CGI.escape_html(@dealership.image.to_json) %>" />
        </fieldset>
        <button class="btn btn-full btn-create" type="submit">Update Account Information</button>
      </form>
