        <h1 class="page-title">Billing Information</h1>
<%= render_partial 'form_messages.erb' -%>
        <form class="m-billing <%= if has_errors? then "m-billing-active" end %>" novalidate="novalidate"
            action="/admin/<%= @dealership.slug %>/billing" method="POST"
            data-stripe-pub="<%= @stripe_pub_key %>" autocomplete="on">
          <fieldset class="fs">
            <label for="card_number">Card Number</label>
            <input class="fs-full <%= error_class('stripeToken') %>" type="text" pattern="\d*"
                   id="card_number" size="20" placeholder="Credit card number" data-stripe="number"
                   autocomplete="cc-number" autocompletetype="cc-number" />
            <div id="card_expiry" class="fs-half">
              <label for="card_expiry_month">Card Expiration Date</label>
              <input class="fs-half <%= error_class('stripeToken') %>" type="text" pattern="\d*"
                     id="card_expiry_month" size="2" maxlength="2" data-stripe="exp-month" placeholder="MM"
                     autocomplete="cc-exp-month" autocompletetype="cc-exp-month" />
              <input class="fs-half <%= error_class('stripeToken') %>" type="text" pattern="\d*"
                     id="card_expiry_year" size="2" maxlength="2" data-stripe="exp-year" placeholder="YY"
                     autocomplete="cc-exp-year" autocompletetype="cc-exp-year" />
            </div>
            <label for="card_cvv">CVV</label>
            <input class="fs-half <%= error_class('stripeToken') %>" type="text" pattern="\d*"
                   id="card_cvv" placeholder="CVV" data-strip="cvc" />
          </fieldset>
          <input type="hidden" name="stripeToken" id="stripeToken" value="" />
          <button class="btn btn-half btn-positive" type="submit">Update Billing Information</button>
          <a class="btn btn-half btn-negative m-billing-toggle" href="#cancel">Cancel</a>
        </form>
        <div class="m-billing <%= if !has_errors? then "m-billing-active" end %>">
          <div class="fs">
            <p id="card_number" class="fs-full fs-input">
              <% if @card.type == 'American Express' %>
              <span class="group">****</span>
              <span class="group">******</span>
              <span class="group">*<%= @card.last4 %></span>
              <% elsif @card.type == 'Diners Club' %>
              <span class="group">****</span>
              <span class="group">****</span>
              <span class="group">**<%= @card.last4.slice(0,2) %></span>
              <span class="group"><%= @card.last4.slice(2,4) %></span>
              <% else %>
              <span class="group">****</span>
              <span class="group">****</span>
              <span class="group">****</span>
              <span class="group"><%= @card.last4 %></span>
              <% end %>
            </p>
            <p id="card_expiry" class="fs-half">
              <span id="card_expiry_month" class="fs-half fs-input">
                <%= @card.exp_month.to_s.rjust(2, '0') %>
              </span>
              <span id="card_expiry_year" class="fs-half fs-input">
                <%= @card.exp_year.to_s.slice(2, 4) %>
              </span>
            </p>
            <p id="card_cvv" class="fs-half fs-input">***</p>
          </div>
          <a class="btn btn-full btn-positive m-billing-toggle" href="#edit" type="submit">
            Edit Billing Information
          </a>
          <p class="account-link">
            <a href="/admin/<%= @dealership.slug %>/account/cancel">Cancel Account</a>
          </p>
        </div>
