      <div class="m-vehicles">
        <% @vehicles.each do |vehicle| %>
        <article class="m-vehicle">
          <a href="/admin/<%= @dealership.slug %>/<%= vehicle.slug %>">
            <img class="m-vehicle-image"
                 src="<%= vehicle.image.url %>"
                 width="<%= vehicle.image.width %>"
                 height="<%= vehicle.image.height %>"
                 alt="" />
            <span class="m-vehicle-price">$<%= vehicle.price %></span>
            <span class="m-vehicle-name"><%= vehicle.name %></span>
            <span class="m-vehicle-desc"><%= vehicle.vin.ext_color %> <%= vehicle.vin.doors %> Door</span>
          </a>
        </article>
        <% end %>
        <a class="m-vehicles-add" href="/admin/<%= @dealership.id %>/vehicle/add">+</a>
      </div>
