<h1>
  <code><%= err.class %></code> occurred on <code><%= req['HTTP_HOST'] %><%= req['PATH_INFO'] %></code>
</h1>
<h2>Message</h2>

<p><%= err.message %></p>

<h2>Backtrace</h2>

<pre><code>
<%- err.backtrace.each do |line| -%>
<%= line %>
<%- end -%>
</code></pre>

<p>You've been notified.</p>
<p>
  <em>Signed,</em><br />
  <strong>Lynr Robot</strong>
</p>
