<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400&subset=latin" />
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,target-densityDpi=device-dpi" />
  </head>
  <body id="<%= @section %>" class="<%= @subsection %>">
<%= render_partial :header -%>
    <div class="window">
      <div class="main">
<%= yield -%>
      </div>
    </div>
<%= render_partial :footer -%>
    <script data-main="/js/main.js" src="/js/libs/require-2.1.8.js" async="async"></script>
  </body>
</html>
