<p class="header">
  <img src="<%= base_url %>/img/icon/wordmark-white.png" />
</p>
<p>
  Better than misplacing your keys,
</p>
<p>
  We can help you get that PIN sorted out right now. Just head over to
  <%= url %> before <%= token_expires.strftime('%F') %> at
  <%= token_expires.strftime('%r %Z') %> and reset it. If you need
  anything else just send a note to <%= support_email%>.
</p>

<div class="footer">
  <a href="<%= base_url %>/legal/terms">Terms &amp; Conditions</a> |
  <a href="<%= base_url %>/legal/privacy">Privacy Policy</a> |
  <span>&copy; 2014 Lynr, LLC</span>
</div>
