<p class="header">
  <img src="<%= base_url %>/img/icon/wordmark-white.png" />
</p>
<p>To new (email) beginnings,</p>
<p>
  Sometimes you just need to start fresh, so thanks for updating your
  email with us. However, if you didn't make this change at
  <a href="<%= base_url %>">lynr.co</a> please let us know by sending a
  note to <%= support_email%>.
</p>

<div class="footer">
  <a href="<%= base_url %>/legal/terms">Terms &amp; Conditions</a> |
  <a href="<%= base_url %>/legal/privacy">Privacy Policy</a> |
  <span>&copy; 2014 Lynr, LLC</span>
</div>
