<p class="header">
  <img src="<%= base_url %>/img/icon/wordmark-white.png" />
</p>
<h1>Lynr.co Trial Ending</h1>

<p>
  No action is necessary. This is a notice your trial will be ending
  on <%= end_date.strftime('%b %d, %Y') %> at
  <%= end_date.strftime('%r %Z') %>. Unless your account is cancelled
  the card on file will be charged when the trial expires.
</p>

<div class="footer">
  <a href="<%= base_url %>/legal/terms">Terms &amp; Conditions</a> |
  <a href="<%= base_url %>/legal/privacy">Privacy Policy</a> |
  <span>&copy; 2014 Lynr, LLC</span>
</div>
