<!DOCTYPE html>
<html class="<%= @menu_vis %>">
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <meta property="og:title" content="Lynr" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Lynr" />
    <meta property="og:description" content="A cloud inventory tool and CRM sales assistant for the pre-owned automobile industy. Your first 30 days are free to ensure Lynr is right for you. After that $99/month." />
    <meta property="og:url" content="https://www.lynr.co" />
    <meta property="og:image" content="<%= asset_path %>/img/lynr/lynr-512.png" />
    <link rel="stylesheet" href="<%= asset_path %>/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin" />
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path %>/img/lynr/lynr-512.png" />
    <link rel="shortcut icon" href="<%= asset_path %>/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
  </head>
  <body id="<%= @section %>" class="<%= @subsection %>" data-asset-path="<%= asset_path %>">
    <div class="window">
      <b class="hat hat-window"></b>
      <%- if respond_to?(:menu_primary) && !menu_primary.nil? && !menu_primary.partial.nil? -%>
<%= render_partial menu_primary.partial -%>
      <%- end -%>
      <%- if respond_to?(:menu_secondary) && !menu_secondary.nil? && !menu_secondary.partial.nil? -%>
<%= render_partial menu_secondary.partial -%>
      <%- end -%>
      <div class="main">
<%= render_partial :header -%>
<%= yield -%>
      </div>
    </div>
<%= render_partial :footer -%>
    <%- if Lynr.features.almond_amd? -%>
    <script src="<%= asset_path %>/js/built/main.js" async="async"></script>
    <%- else -%>
    <script src="<%= asset_path %>/js/libs/require-2.1.11.js"
            data-main="<%= asset_path %>/js/main.js"
            async="async">
    </script>
    <%- end -%>
  </body>
</html>
