<!DOCTYPE html>
<html class="<%= @menu_vis %>">
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <meta property="og:title" content="Lynr" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Lynr" />
    <meta property="og:description" content="A cloud inventory tool and CRM sales assistant for the pre-owned automobile industy. Your first 30 days are free to ensure Lynr is right for you. After that $99/month." />
    <meta property="og:url" content="https://www.lynr.co" />
    <meta property="og:image" content="http://static.lynr.co/lynr.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin" />
    <meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
  </head>
  <body id="<%= @section %>" class="<%= @subsection %>">
    <div class="window">
      <b class="hat hat-window"></b>
      <%- if respond_to?(:menu_primary) && !menu_primary.nil? && !menu_primary.partial.nil? -%>
<%= render_partial menu_primary.partial -%>
      <%- end -%>
      <%- if respond_to?(:menu_secondary) && !menu_secondary.nil? && !menu_secondary.partial.nil? -%>
<%= render_partial menu_secondary.partial -%>
      <%- end -%>
      <div class="main">
<%= render_partial :header -%>
<%= yield -%>
      </div>
    </div>
<%= render_partial :footer -%>
    <script data-main="/js/main.js" src="/js/libs/require-2.1.8.js" async="async"></script>
  </body>
</html>
