<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5" />
  </head>
  <body id="<%= @section %>" class="<%= @subsection %>">
<%= render_partial :header unless @section == 'home' %>
    <div class="main">
<%= yield %>
    </div>
<%= render_partial :footer %>
    <script data-main="/js/main.js" src="/js/libs/require-2.1.5.js" async="async"></script>
  </body>
</html>
