<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,target-densityDpi=device-dpi" />
  </head>
  <body id="<%= @section %>" class="<%= @subsection %>">
<%= render_file 'partials/header.erb' unless @section == 'home' %>
    <div class="main">
<%= @content %>
    </div>
<%= render_file 'partials/footer.erb' %>
    <script data-main="/js/main.js" src="/js/libs/require-2.1.5.js" async="async"></script>
  </body>
</html>
