<%= render_partial 'form_messages.erb' -%>
        <form class="f-vin" action="/admin/<%= @dealership.slug %>/vin/search" method="POST">
          <fieldset class="fs">
            <label for="vin">VIN</label>
            <input class="fs-top fs-bottom fs-full <%= error_class('vin') %>" type="text" name="vin"
                   id="vin" value="<%= posted['vin'] %>" placeholder="VIN" />
            <button class="btn btn-inline btn-positive" type="submit">Import</button>
          </fieldset>
        </form>
        <form class="vehicle-add" action="/admin/<%= @dealership.slug %>/vehicle/add" method="POST">
<%= render_partial('vehicle/form_fields.erb') %>
          <button class="btn btn-full btn-positive" type="submit">Add Vehicle</button>
        </form>
