<?xml version="1.0" ?>
<rdf:RDF xmlns="http://purl.org/rss/1.0/"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:cl="http://www.craigslist.org/about/cl-bulk-ns/1.0">

  <channel>

    <items>
      <rdf:li rdf:resource="<%= vehicle.id.to_s %>" />
    </items>

    <cl:auth username="<%= username %>"
             password="<%= password %>"
             accountID="" />

  </channel>

  <item rdf:about="<%= vehicle.id.to_s %>">
    <title><%= vehicle.name %> at <%= dealership.name %></title>
    <description>
    <![CDATA[
Hi
    ]]>
    </description>
    <cl:category>ctd</category>
    <cl:area>nyc</cl:area>

    <%- # otherContactInfo attribute is for something like a phone number -%>
    <%- # privacy attribute -- A=don't show email, C=anonymous craigslist email, P=show the replyEmail address -%>
    <cl:replyEmail privacy="C" outsideContactOk="0" otherContactInfo=""><%= dealership.identity.email %></cl:replyEmail>

    <% vehicle.images.each_with_index do |image, i| %>
    <cl:image position="0"><% # image.base64_encode %></cl:image>
    <% end %>

    <% if dealership.address %>
    <cl:mapLocation
        city="<%= dealership.address.city %>"
        state="<%= dealership.address.state %>"
        <%- if dealership.address.geo -%>
        latitude="<%= dealership.address.geo.lat %>"
        longitude="<%= dealership.address.geo.lng %>"
        <%- end -%>
        />
    <% end %>

    <cl:auto_basics
        auto_color="<%= vehicle.vin.ext_color %>"
        auto_is_new="0"
        auto_year="<%= vehicle.year %>"
        auto_make_other="<%= vehicle.make %>"
        auto_model_other="<%= vehicle.model %>"
        auto_miles="<%= vehicle.mileage %>"
        auto_trans_manual="<%= vehicle.vin.transmission == 'Automatic' ? '0' : '1' %>"
        auto_trans_auto="<%= vehicle.vin.transmission == 'Automatic' ? '1' : '0' %>"
        <%- if !vehicle.vin.number.empty? -%>
        auto_vin="<%= vehicle.vin.number %>"
        <%- end -%>
        />

    <cl:generic
        <%- # contact_method="email|phone|text" -%>
        contact_method="email"
        contact_name="<%= dealership.name %>"
        <%- # contact_ok="0|1" -%>
        contact_ok="1"
        contact_other="<%= dealership.identity.email %>"
        <%- # contact_phone="" -%>
        <%- # contact_time="" -%>
        fee_disclosure=""
        <%- # has_license="0|1" -%>
        <%- # license_info="" -%>
        <%- # phonecalls_ok="0|1" -%>
        phonecalls_ok="0"
        <%- # repost_ok="0|1" -%>
        repost_ok="0"
        />

  </item>

</rdf:RDF>
