<%= render_partial 'form_messages.erb' -%>
      <div class="photos-vehicle">
        <%- if @vehicle.images? && @vehicle.images.length > 1 -%>
        <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/photos" class="photos-vehicle-inner">
          <%-
          images = @vehicle.images
          images.each do |image|
            if !image.empty?
          -%>
          <span class="photo-vehicle-wrapper">
            <img class="photo-vehicle"
                 src="<%= image.full.url %>"
                 width="<%= image.full.width %>"
                 alt="" />
          </span>
          <%-
            end
          end
          -%>
        </a>
        <%- else -%>
        <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/photos" class="photos-vehicle-inner photos-vehicle-single">
          <img class="photo-vehicle photo-vehicle-single <%= @vehicle.image.empty? && "photo-vehicle-empty" %>"
               src="<%= @vehicle.image.url %>"
               alt="Manage vehicle photos" />
        </a>
        <%- end -%>
      </div>
      <form class="" action="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/edit" method="POST">
        <fieldset class="fs">
          <label for="price">Price</label>
          <input class="fs-top fs-full <%= error_class('price') %>" type="text" name="price"
                 id="price" value="<%= posted['price'] %>" placeholder="Price" />
          <label for="year">Year</label>
          <input class="fs-mid fs-full <%= error_class('year') %>" type="text"
                 name="vin[year]" id="year" placeholder="Year"
                 value="<%= posted.fetch('vin', default={})['year'] %>" />
          <label for="make">Make</label>
          <input class="fs-mid fs-full <%= error_class('make') %>" type="text"
                 name="vin[make]" id="make" placeholder="Make"
                 value="<%= posted.fetch('vin', default={})['make'] %>" />
          <label for="model">Model</label>
          <input class="fs-mid fs-full <%= error_class('model') %>" type="text"
                 name="vin[model]" id="model" placeholder="Model"
                 value="<%= posted.fetch('vin', default={})['model'] %>" />
          <label for="mileage">Mileage</label>
          <input class="fs-mid fs-full <%= error_class('mileage') %>" type="text" name="mileage"
                 id="mileage" value="<%= posted['mileage'] %>" placeholder="Mileage" />
          <label for="condition">Condition</label>
          <input class="fs-mid fs-full <%= error_class('condition') %>" type="text" name="condition"
                 id="condition" value="<%= posted['condition'] %>" placeholder="Condition" />
          <label for="mpg-city">MPG City</label>
          <input class="fs-mid fs-half <%= error_class('mpg') %>" type="text"
                 name="mpg[city]" id="mpg-city" placeholder="MPG City"
                 value="<%= posted.fetch('mpg', default={})['city'] %>" />
          <label for="mpg-highway">MPG Highway</label>
          <input class="fs-mid fs-half <%= error_class('mpg') %>" type="text"
                 name="mpg[highway]" id="mpg-highway" placeholder="MPG Hwy"
                 value="<%= posted.fetch('mpg', default={})['highway'] %>" />
          <label for="vin-transmission">Transmission</label>
          <input class="fs-mid fs-half <%= error_class('transmission') %>" type="text"
                 name="vin[transmission]" id="vin-transmission" placeholder="Transmission"
                 value="<%= posted.fetch('vin', default={})['transmission'] %>" />
          <label for="vin-fuel">Fuel</label>
          <input class="fs-mid fs-half <%= error_class('fuel') %>" type="text"
                 name="vin[fuel]" id="vin-fuel" placeholder="Fuel"
                 value="<%= posted.fetch('vin', default={})['fuel'] %>" />
          <label for="vin-doors">Doors</label>
          <input class="fs-mid fs-half <%= error_class('doors') %>" type="text"
                 name="vin[doors]" id="vin-doors" placeholder="Doors"
                 value="<%= posted.fetch('vin', default={})['doors'] %>" />
          <label for="vin-drivetrain">Drivetrain</label>
          <input class="fs-mid fs-half <%= error_class('drivetrain') %>" type="text"
                 name="vin[drivetrain]" id="vin-drivetrain" placeholder="Drivetrain"
                 value="<%= posted.fetch('vin', default={})['drivetrain'] %>" />
          <label for="vin-ext_color">Exterior Color</label>
          <input class="fs-mid fs-half <%= error_class('ext_color') %>" type="text"
                 name="vin[ext_color]" id="vin-ext_color" placeholder="Exterior Color"
                 value="<%= posted.fetch('vin', default={})['ext_color'] %>" />
          <label for="vin-int_color">Interior Color</label>
          <input class="fs-mid fs-half <%= error_class('int_color') %>" type="text"
                 name="vin[int_color]" id="vin-int_color" placeholder="Interior Color"
                 value="<%= posted.fetch('vin', default={})['int_color'] %>" />
          <label for="notes">Notes</label>
          <textarea class="fs-bottom fs-full <%= error_class('notes') %>"
                    name="notes" id="notes" placeholder="Notes"><%= posted['notes'] %></textarea>
        </fieldset>
        <button class="btn btn-full btn-create" type="submit">Finished</button>
      </form>
