<%= render_partial 'form_messages.erb' -%>
        <div class="vehicle-photos">
          <%-
          if @vehicle.images? && @vehicle.images.length > 1
            images = @vehicle.images
            # TODO: I dislike having this style calculation here but the other
            # option is to do it in JS which isn't much better.
            width = 100 + ((93.75 + 1.6) * (images.length - 1))
          -%>
          <a class="vehicle-photos-inner" style="width: <%= width %>vw"
              href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/photos">
            <%-
            images.each do |image|
              if !image.empty?
            -%>
            <img class="vehicle-image"
                 src="<%= image.thumb.url %>"
                 alt="" />
            <%-
              end
            end
            -%>
          </a>
          <%- else -%>
          <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/photos" class="vehicle-photos-inner vehicle-photos-single">
            <img class="vehicle-image <%= @vehicle.image.empty? && "vehicle-image-empty" %>"
                 src="<%= @vehicle.image.thumb.url %>"
                 alt="Manage vehicle photos" />
          </a>
          <%- end -%>
        </div>
        <form class="vehicle-edit" action="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/edit" method="POST">
<%= render_partial('vehicle/form_fields.erb') %>
          <fieldset class="fs">
            <label for="notes">Notes</label>
            <textarea class="fs-full <%= error_class('notes') %>"
                      name="notes" id="notes" placeholder="Notes"><%= posted['notes'] %></textarea>
          </fieldset>
          <button class="btn btn-full btn-positive" type="submit">Finished</button>
        </form>
