        <article class="vehicle">
          <div class="vehicle-photos">
            <%-
            if @vehicle.images? && @vehicle.images.length > 1
              images = @vehicle.images
              # TODO: I dislike having this style calculation here but the other
              # option is to do it in JS which isn't much better.
              width = 100 + ((93.75 + 1.6) * (images.length - 1))
            -%>
            <span class="vehicle-photos-inner" style="width: <%= width %>vw">
              <%-
              images.each do |image|
                if !image.empty?
              -%>
              <img class="vehicle-image"
                   src="<%= image.thumb.url %>"
                   data-full-src="<%= image.full.url %>"
                   alt="" />
              <%-
                end
              end
              -%>
            </span>
            <%- else -%>
            <span class="vehicle-photos-inner vehicle-photos-single">
              <%- if @vehicle.image.empty? -%>
              <img class="vehicle-image vehicle-image-empty"
                   src="<%= asset_path %>/img/blank-75x25.gif"
                   alt="" />
              <%- else -%>
              <img class="vehicle-image"
                   src="<%= @vehicle.image.thumb.url %>"
                   data-full-src="<%= @vehicle.image.full.url %>"
                   alt="" />
              <%- end -%>
            </span>
            <%- end -%>
          </div>
          <h2 class="vehicle-name"><%= @vehicle.name %></h2>
          <p class="vehicle-price">
            <%= "$#{Lynr::Converter::NumberTranslator.delimit(@vehicle.price)}" %>
          </p>
          <ul class="vehicle-properties">
            <li class="vehicle-property">
              <strong>
                <%= Lynr::Converter::VehicleTranslator.condition(@vehicle.condition) %>
              </strong>
            </li>
            <li class="vehicle-property">
              <strong>
                <%= Lynr::Converter::NumberTranslator.delimit(@vehicle.mileage) %> Miles
              </strong>
            </li>
            <li class="vehicle-property">
              <%= Lynr::Converter::VinTranslator.transmission_type(@vehicle.vin.transmission) %>
            </li>
            <li class="vehicle-property">
              <%= Lynr::Converter::VinTranslator.fuel(@vehicle.vin.fuel) %>
            </li>
            <li class="vehicle-property">
              <%= Lynr::Converter::VinTranslator.doors(@vehicle.vin.doors) %>
            </li>
            <li class="vehicle-property">
              <%= Lynr::Converter::VinTranslator.drivetrain(@vehicle.vin.drivetrain) %>
            </li>
            <li class="vehicle-property"><%= @vehicle.vin.ext_color %></li>
            <li class="vehicle-property"><%= @vehicle.vin.int_color %></li>
          </ul>
          <%- if !@vehicle.notes.nil? && !@vehicle.notes.empty? -%>
          <div class="vehicle-notes md">
            <%= @vehicle.notes_html %>
          </div>
          <%- end -%>
        </article>
