          <fieldset class="fs">
            <label for="price">Price</label>
            <input class="fs-full <%= error_class('price') %>" type="text" pattern="\d*"
                   name="price" id="price" placeholder="Price"
                   value="<%= posted['price'] %>" />
            <label for="year">Year</label>
            <input class="fs-full <%= error_class('year') %>" type="text" pattern="\d*"
                   name="vin[year]" id="year" placeholder="Year"
                   value="<%= posted.fetch('vin', default={})['year'] %>" />
            <label for="make">Make</label>
            <input class="fs-full <%= error_class('make') %>" type="text"
                   name="vin[make]" id="make" placeholder="Make"
                   value="<%= posted.fetch('vin', default={})['make'] %>" />
            <label for="model">Model</label>
            <input class="fs-full <%= error_class('model') %>" type="text"
                   name="vin[model]" id="model" placeholder="Model"
                   value="<%= posted.fetch('vin', default={})['model'] %>" />
            <label for="mileage">Mileage</label>
            <input class="fs-full <%= error_class('mileage') %>" type="text" pattern="\d*"
                   name="mileage" id="mileage" placeholder="Mileage"
                   value="<%= posted['mileage'] %>" />
            <label for="condition">Condition</label>
            <select class="fs-full fs-select <%= error_class('condition') %>"
                    name="condition" id="condition">
              <option value="0">Condition</option>
              <%-
                condition = posted['condition']
                Lynr::Converter::VehicleTranslator::ConditionTranslations.each do |value, name|
              -%>
              <option value="<%= value %>" <%= if condition == value then "selected" end %>><%= name %></option>
              <%- end -%>
            </select>
            <label for="vin-fuel">Fuel</label>
            <select class="fs-full fs-select <%= error_class('fuel') %>"
                    name="vin[fuel]" id="vin-fuel">
              <option value="">Fuel</option>
              <%-
                fuel = posted.fetch('vin', default={})['fuel']
                Lynr::Converter::VinTranslator::FuelTranslations.each do |value, name|
              -%>
              <option value="<%= value %>" <%= if fuel == value then "selected" end %>><%= name %></option>
              <%- end -%>
            </select>
            <label for="mpg-city">MPG City</label>
            <input class="fs-half <%= error_class('mpg') %>" type="text" pattern="\d*"
                   name="mpg[city]" id="mpg-city" placeholder="MPG City"
                   value="<%= posted.fetch('mpg', default={})['city'] %>" />
            <label for="mpg-highway">MPG Highway</label>
            <input class="fs-half <%= error_class('mpg') %>" type="text" pattern="\d*"
                   name="mpg[highway]" id="mpg-highway" placeholder="MPG Hwy"
                   value="<%= posted.fetch('mpg', default={})['highway'] %>" />
            <label for="vin-transmission">Transmission</label>
            <select class="fs-full fs-select <%= error_class('transmission') %>"
                    name="vin[transmission]" id="vin-transmission">
              <option value="">Transmission</option>
              <%-
                transmission = posted.fetch('vin', default={})['transmission']
                Lynr::Converter::VinTranslator::TransmissionTranslations.each do |value, name|
              -%>
              <option value="<%= value %>" <%= if transmission == value then "selected" end %>><%= name %></option>
              <%- end -%>
            </select>
            <label for="vin-doors">Doors</label>
            <select class="fs-half fs-select <%= error_class('doors') %>"
                    name="vin[doors]" id="vin-doors">
              <option value="">Doors</option>
              <%-
                doors = posted.fetch('vin', default={})['doors']
                (2..5).each do |num|
                  value = num.to_s
                  name = Lynr::Converter::VinTranslator.doors(value)
              -%>
              <option value="<%= value %>" <%= if doors == value then "selected" end %>><%= name %></option>
              <%- end -%>
            </select>
            <label for="vin-drivetrain">Drivetrain</label>
            <select class="fs-half fs-select <%= error_class('drivetrain') %>"
                    name="vin[drivetrain]" id="vin-drivetrain">
              <option value="">Drivetrain</option>
              <%-
                drivetrain = posted.fetch('vin', default={})['drivetrain']
                ['FWD', 'RWD', 'AWD', '4x4', '4x2'].each do |value|
                  name = Lynr::Converter::VinTranslator.drivetrain(value)
              -%>
              <option value="<%= value %>" <%= if drivetrain == value then "selected" end %>><%= name %></option>
              <%- end -%>
            </select>
            <hr class="fs-break" />
            <label for="vin-ext_color">Exterior Color</label>
            <input class="fs-half <%= error_class('ext_color') %>" type="text"
                   name="vin[ext_color]" id="vin-ext_color" placeholder="Exterior Color"
                   value="<%= posted.fetch('vin', default={})['ext_color'] %>" />
            <label for="vin-int_color">Interior Color</label>
            <input class="fs-half <%= error_class('int_color') %>" type="text"
                   name="vin[int_color]" id="vin-int_color" placeholder="Interior Color"
                   value="<%= posted.fetch('vin', default={})['int_color'] %>" />
          </fieldset>
