          <%-
            vehicle_href = if inventory then "/admin/#{dealership.slug}/#{vehicle.slug}"
                           else              "/admin/#{dealership.slug}/#{vehicle.slug}/edit"
                           end
          -%>
          <article class="vehicle">
            <%- if !vehicle.image.empty? -%>
            <a href="<%= vehicle_href %>">
              <img class="vehicle-image"
                   src="<%= vehicle.image.thumb.url %>"
                   alt="" />
            </a>
            <%- end -%>
            <h2 class="vehicle-title">
              <%- if inventory or vehicle.image.empty? -%>
              <a href="<%= vehicle_href %>">
                <span class="vehicle-name"><%= vehicle.name %></span>
                <span class="vehicle-price">
                  <%= "$#{Lynr::Converter::NumberTranslator.delimit(vehicle.price)}" %>
                </span>
              </a>
              <%- else -%>
              <span class="vehicle-name"><%= vehicle.name %></span>
              <span class="vehicle-price">
                <%= "$#{Lynr::Converter::NumberTranslator.delimit(vehicle.price)}" %>
              </span>
              <%- end -%>
            </h2>
            <%- if !inventory -%>
            <h2>
              <a class="vehicle-delete-link" href="/admin/<%= dealership.slug %>/<%= vehicle.slug %>/delete">
                Delete This Vehicle
              </a>
            </h2>
            <%- end -%>
          </article>
