<%= render_partial 'form_messages.erb' -%>
        <form class="m-account"
              method="POST" action="/admin/<%= @dealership.slug %>/account/password">
          <fieldset class="fs">
            <label for="password">Password</label>
            <input class="fs-half <%= error_class('password') %>" type="password"
                   name="password" id="password" value="" placeholder="Choose a new PIN" />
            <label for="password_confirm">Confirm Password</label>
            <input class="fs-half <%= error_class('password_confirm') %>" type="password"
                   name="password_confirm" id="password_confirm" value="" placeholder="Confirm your new PIN" />
          </fieldset>
          <button class="btn btn-half btn-positive" type="submit">Change Password</button>
          <a class="btn btn-half btn-negative" href="/admin/<%= @dealership.slug %>/account">Cancel</a>
        </form>
